<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <a href="{% url 'accounts:mainpage' user.id %}"> Моя страница</a>
    <a href="{% url 'accounts:friends' user.id %}"> Друзья</a>
    <a href="http://127.0.0.1:8000/logout"> Выйти</a>
    <h3>Здесь будет список ваших друзей</h3>
    <label>
        <input type="text" id="friend_id" name="friend_id" placeholder="Введите id друга">
        <input type="Submit">
    </label><br>
</form>

<div>
    Ваш id: {{ user.id }}

    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}

    {% if user.friends_set.all %}
        <ul>
            {% for friend in user.friends_set.all %}
                <li>Твой друг, friend</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У тебя нет друзей :(</p>
    {% endif %}
</div>

</body>
</html>