{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Сообщения</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8 col-md-8 col-md-8 col-lg-8">
            <form method="post">
                {% csrf_token %}
                <label for="message_text" style="padding-top: 10px; padding-right: 5px"> </label>
                <input type="text" name="message_text" id="message_text" class="rounded" autofocus>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
            {% if not messages %}
            <p>Здесь пока нет сообщений, начните диалог первым!</p>
            {% else %}
            {% for message in messages %}
            {% if user.id == message.get_message_from_user.id %}
            <a href="{% url 'accounts:view_profile_with_pk' pk=message.get_message_from_user.id %}" style="color: blue">
                <b>{{ message.get_message_from_user.get_full_name }}:</b>
            </a>
            <div class="w3-panel w3-blue w3-round-xxlarge">
                <p style="padding-top: 12px">
                    {{ message.message_text}}
                    <sub style="color: black">{{ message.sending_time }}</sub>
                </p>
            </div>
            {% else %}
            <a href="{% url 'accounts:view_profile_with_pk' pk=message.get_message_from_user.id %}" style="color: red">
                <b>{{ message.get_message_from_user.get_full_name }}:</b>
            </a>
            <div class="w3-panel w3-red w3-round-xxlarge">
                <p style="padding-top: 12px">
                    {{ message.message_text}}
                    <sub style="color: black">{{ message.sending_time }}</sub>
                </p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif%}
        </div>
        <div class="сol-4 col-sm-4 col-md-4 col-lg-4">
            <h2>Другие диалоги</h2>
            {% for friend in friends %}
            <a href="{% url 'accounts:view_dialog_with_pk' pk=friend.pk %}"
               style="color:darkslategray; text-decoration: none">
                <h4>{{ friend.get_full_name }}</h4>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
