{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Сообщения</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Сообщения</h2>
    {% for friend in friends %}
    <p class="w3-theme-border" style="border-radius: 25px; border: 2px solid #73AD21; padding: 20px;">
        <a href="{% url 'accounts:view_dialog_with_pk' pk=friend.pk %}"
           style="color:darkslategray; text-decoration: none; font-size: large">
            <strong>{{ friend.get_full_name }}</strong>
        </a>
    </p>
    {% endfor %}
</div>
{% endblock %}
