{% extends 'base.html' %}
{% block head %}
<title>Регистрация</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <label for="first_name">Имя:</label>
        <input type="text" name="first_name" id="first_name" class="rounded"><br>
        <label for="last_name">Фамилия:</label>
        <input type="text" name="last_name" id="last_name" class="rounded"><br>
        <label for="email">Электронная почта:</label>
        <input type="text" name="email" id="email" class="rounded"><br>
        <label for="username">Логин:</label>
        <input type="text" name="username" id="username" class="rounded"><br>
        <label for="password1">Пароль:</label>
        <input type="password" name="password1" id="password1" class="rounded"><br>
        <label for="password2">Повторите пароль:</label>
        <input type="password" name="password2" id="password2" class="rounded"><br>
        {% for message in messages %}
        <strong>{{ message }}</strong><br>
        {% endfor %}
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}