{% extends 'base.html' %}
{% block head %}
    <title>Сообщения</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dialog.css' %}">
{% endblock %}
{% block body %}
    <div id="mainContent">
        <div id="messagesAndPostForm">
            <div class="messages"></div>
            <div class="add-post-form">
                <textarea id="newMessageText" userId="{{ userProfile.id }}" class="post-content-text"
                          placeholder="Текст сообщения"></textarea>
                <div class="post-buttons">
                    <button class="post-content-button cancel-message-creation">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M9.036 7.976a.75.75 0 00-1.06 1.06L10.939 12l-2.963 2.963a.75.75 0 101.06 1.06L12 13.06l2.963 2.964a.75.75 0 001.061-1.06L13.061 12l2.963-2.964a.75.75 0 10-1.06-1.06L12 10.939 9.036 7.976z"></path>
                            <path fill-rule="evenodd"
                                  d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path>
                        </svg>
                        Отмена
                    </button>
                    <button class="post-content-button add-new-message">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M17.28 9.28a.75.75 0 00-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l6.5-6.5z"></path>
                            <path fill-rule="evenodd"
                                  d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path>
                        </svg>
                        Отправить
                    </button>
                </div>
            </div>
        </div>
        <div id="dialogsNavbar"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(window).on('load', getAndPrintMessages())

        function getAndPrintMessages() {
            let messages, content = "";
            $.when(
                $.ajax({
                    type: "GET",
                    url: window.location.href,
                    success: function () {
                        console.log();
                    },
                    error: function (data, errors) {
                        console.log('error');
                        console.log(data);
                        console.log(errors);
                    }
                }),
                $.ajax({
                    type: "GET",
                    url: window.location.href,
                    dataType: 'json',
                    data: {
                        request_type: 'get_messages',
                    },
                    success: function (data) {
                        console.log(data);
                        messages = data['messages'];
                    },
                    error: function (data, errors) {
                        console.log('error');
                        console.log(data);
                        console.log(errors);
                    }
                })).then(function () {
                for (let message of messages) {
                    console.log(message['id']);
                    if (message['id'] === {{ user.id }}) {
                        content += "" +
                            "<div class='message-container'>" +
                            "   <img class='profile-picture' src='{{ user.profile.profile_picture.url }}'>" +
                            "   <p>" + message['text'] + "</p>" +
                            "</div>"
                    } else {
                        content += "" +
                            "<div class='message-container'>" +
                            "   <p>" + message['text'] + "</p>" +
                            "   <img class='profile-picture' src='{{ friend_profile_picture_url }}'>" +
                            "</div>"
                    }
                }
                $('.messages').html(content)
            }).then(function () {
                makeCorrectParagraphSize()
            })
        }
    </script>
    <script>

        $('textarea').on('input', function () {
            makeCorrectTextareaSize()
        });

        function makeCorrectTextareaSize() {
            $('textarea').each(function () {
                $(this).css('height', '0' + 'px');
                $(this).css('height', $(this).prop('scrollHeight') + 'px');
            })
        }

        $(window).on('load', function () {
            makeCorrectParagraphSize()
        })

        $(window).on('resize', function () {
            makeCorrectParagraphSize()
            makeCorrectTextareaSize()
        })

        function makeCorrectParagraphSize() {
            $('p').each(function () {
                $(this).css('width', (parseInt($('textarea').css('width')) - 96).toString() + 'px')
            })
        }
    </script>
    <script>
        $('.add-new-message').on('click', function () {
            let postTextarea = $('#newMessageText');
            if (postTextarea.val() !== '') {
                $.ajax({
                    type: "POST",
                    url: window.location.href,
                    data: {
                        text: postTextarea.val(),
                    },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (data) {
                        let content = "" +
                            "<div class='message-container'>" +
                            "   <img class='profile-picture' src='{{ user.profile.profile_picture.url }}'>" +
                            "   <p>" + postTextarea.val() + "</p>" +
                            "</div>";
                        $(content).appendTo($('.messages'))
                        postTextarea.val('');
                    },
                    error: function (data, errors) {
                        console.log(data);
                        console.log(errors);
                    }
                });
            }
        })
        $('.cancel-message-creation').on('click', function () {
            let postTextarea = $('#newMessageText');
            postTextarea.val('');
        })
    </script>
    <script>

        $(window).on('load', printDialogs())

        function printDialogs() {
            let id = "{{ user.id }}";
            let friend_id = {{ friend_id }};
            let friend_full_name = "{{ friend_full_name }}";
            let openedDialogs = {};
            if (localStorage.getItem('openedDialogs')) {
                openedDialogs = JSON.parse(localStorage.getItem('openedDialogs'));
                if (Object.keys(openedDialogs).includes(id)) {
                    console.log('user added');
                    console.log(openedDialogs[id])
                    if (openedDialogs[id].map(val => val['id']).includes(friend_id)) {
                        console.log('already added')
                    } else {
                        openedDialogs[id].push({'id': friend_id, 'full_name': friend_full_name});
                    }
                } else {
                    console.log('added now');
                    openedDialogs[id] = [{'id': friend_id, 'full_name': friend_full_name}];
                }
            } else {
                console.log('first time here');
                openedDialogs[id] = [{'id': friend_id, 'full_name': friend_full_name}];
            }
            localStorage.setItem('openedDialogs', JSON.stringify(openedDialogs))
            let content = "";
            for (let friend of openedDialogs[id]) {
                console.log('В панели справа: ' + friend['id'] + ' ' + friend['full_name'])
                content += "" +
                    "<a class=\"opened-dialog " + ((friend_id == friend['id']) ? "active" : "") + "\" id=\"" + friend['id'] + "\" href=\"" + friend['id'] + "\">" + friend['full_name'] + "" +
                    "   <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\" onclick=\"closeDialog(" + friend['id'] + ")\">\n" +
                    "       <path d=\"M9.036 7.976a.75.75 0 00-1.06 1.06L10.939 12l-2.963 2.963a.75.75 0 101.06 1.06L12 13.06l2.963 2.964a.75.75 0 001.061-1.06L13.061 12l2.963-2.964a.75.75 0 10-1.06-1.06L12 10.939 9.036 7.976z\"></path>\n" +
                    "       <path fill-rule=\"evenodd\"\n" +
                    "                                  d=\"M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z\"></path>\n" +
                    "   </svg>" +
                    "</a>"
            }
            $('#dialogsNavbar').html(content)
            bindScriptsAndClasses()
        }

        function bindScriptsAndClasses() {
            let dialogs = $('a.opened-dialog');
            if (dialogs.first()[0] === dialogs.last()[0]) {
                console.log(123);
                console.log(123);
                dialogs.first().css({
                    'border-width': '2px 2px 2px 2px',
                    'border-radius': '25px 25px 25px 25px'
                });
            } else {
                console.log(123);
                dialogs.first().css({
                    'border-width': '2px 2px 1px 2px',
                    'border-radius': '25px 25px 0 0'
                });
                dialogs.last().css({
                    'border-width': '1px 2px 2px 2px',
                    'border-radius': '0 0 25px 25px'
                });
            }
            dialogs.on('click', function (e) {
                if (e.target !== this) {
                    e.preventDefault();
                }
            })
        }

        function closeDialog(id) {
            console.log(id);
            let dialogs = JSON.parse(localStorage.getItem('openedDialogs'));
            console.log('dialogs: ', dialogs);
            for (let user of Object.keys(dialogs)) {
                console.log('user: ', dialogs[user]);
                console.log('filtered user: ', dialogs[user].filter(dialog => dialog['id'] !== id));
                dialogs[user] = dialogs[user].filter(dialog => dialog['id'] !== id)
            }
            localStorage.setItem('openedDialogs', JSON.stringify(dialogs));
            if (id.toString() === "{{ friend_id }}") {
                window.location.href = '../messages/'
            }
            $('#' + id.toString()).detach();
            bindScriptsAndClasses();
        }
    </script>
{% endblock %}