{% extends 'base.html' %}
{% block head %}
    <title>Друзья</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}">
{% endblock %}
{% block body %}
    <div id="mainContent">
        <div class="typeOfUsers">
            <button class="active" id="myFriends">Мои друзья</button>
            <button id="allUsers">Все пользователи</button>
            <button id="outgoingRequests">Исходящие заявки</button>
            <button id="incomingRequests">Входящие заявки</button>
        </div>
        <div id="users"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(window).on('load', function () {
            getAndPrintFriends()
        })

        function openTab() {
            switch (localStorage.getItem('tab')) {
                case 'myFriends':
                    $('#myFriends').click();
                    break
                case 'allUsers':
                    $('#allUsers').click();
                    break
                case 'outgoingRequests':
                    $('#outgoingRequests').click();
                    break
                case 'incomingRequests':
                    $('#incomingRequests').click();
                    break
                default:
                    $('#myFriends').click();
                    break
            }
        }

        function getAndPrintFriends() {
            let id = $('.active').attr('id');
            let friendsProfiles;
            console.log(id);
            $.when(
                $.ajax({
                    url: window.location.href,
                    type: "GET",
                    data: {
                        request_type: id,
                    },
                    dataType: 'json',
                    success: function (friends) {
                        friendsProfiles = JSON.parse(friends)
                    },
                    error: function (data, errors) {
                        console.log(data);
                        console.log(errors);
                    }
                })
            ).then(function () {
                console.log(friendsProfiles);
                printFriends(friendsProfiles);
                openTab();
            })
        }

        function printFriends(profiles) {
            let usersContent = $('#users');
            let content = "";
            console.log(profiles);
            for (let profile of profiles) {
                content += "" +
                    "<div class='userCard'>" +
                    "   <div class='userCardImage'>" +
                    "       <img src='" + profile['profile_picture'] + "'>   " +
                    "   </div>" +
                    "   <div class='userCardMainContent'>" +
                    "       <a href=\"../user/" + profile['id'] + "\">" +
                    profile['full_name'] +
                    "       </a>" +
                    "       <div class='addOrDeleteFriendButton' id=\"" + profile['id'] + "\">\n"
                if (!profile['in_friends']) {
                    content += "" +
                        "                <button class=\"button add-friend\" onclick=\"addFriend(this)\">\n" +
                        "                    <svg width=\"32px\" height=\"32px\" viewBox=\"0 0 16 16\" class=\"bi bi-plus-circle\"\n" +
                        "                         fill=\"currentColor\"\n" +
                        "                         xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "                        <path fill-rule=\"evenodd\"\n" +
                        "                              d=\"M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z\"></path>\n" +
                        "                        <path fill-rule=\"evenodd\"\n" +
                        "                              d=\"M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z\"></path>\n" +
                        "                        <path fill-rule=\"evenodd\"\n" +
                        "                              d=\"M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"></path>\n" +
                        "                    </svg>\n" +
                        "                    Добавить в друзья\n" +
                        "                </button>\n"
                } else {
                    content += "" +
                        "                <button class=\"button delete-friend\" onclick=\"deleteFriend(this)\">\n" +
                        "                    <svg width=\"32px\" height=\"32px\" viewBox=\"0 0 16 16\" class=\"bi bi-dash-circle\"\n" +
                        "                         fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "                        <path fill-rule=\"evenodd\"\n" +
                        "                              d=\"M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"></path>\n" +
                        "                        <path fill-rule=\"evenodd\"\n" +
                        "                              d=\"M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z\"></path>\n" +
                        "                    </svg>\n" +
                        "                    Удалить из друзей\n" +
                        "                </button>\n"
                }
                content += "" +
                    "            </div>" +
                    "   </div>" +
                    "</div>"
            }
            usersContent.html(content)
        }
    </script>
    <script>
        $('.typeOfUsers button').on('mouseenter', function () {
            $(this).css('background', 'rgba(245, 245, 245, 1.0)')
        });

        $('.typeOfUsers button').on('mouseleave', function () {
            $(this).css('background', 'rgba(245, 245, 245, 0.7)')
        })

        $('.typeOfUsers button').on('click', function () {
            if ($('.active').attr('id') !== $(this).attr('id')) {
                $('.active').toggleClass('active');
                $(this).toggleClass('active');
                localStorage.setItem('tab', $(this).attr('id'));
                getAndPrintFriends();
            }
        })
    </script>
    <script>
        function addFriend(elem) {
            let friend_id = $(elem).parent().attr('id');
            let button = "" +
                "                <button class=\"button delete-friend\" onclick=\"deleteFriend(this)\">\n" +
                "                    <svg width=\"32px\" height=\"32px\" viewBox=\"0 0 16 16\" class=\"bi bi-dash-circle\"\n" +
                "                         fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                "                        <path fill-rule=\"evenodd\"\n" +
                "                              d=\"M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"></path>\n" +
                "                        <path fill-rule=\"evenodd\"\n" +
                "                              d=\"M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z\"></path>\n" +
                "                    </svg>\n" +
                "                    Удалить из друзей\n" +
                "                </button>";
            console.log(friend_id);
            $.when($.ajax({
                type: "POST",
                url: window.location.href,
                data: {
                    friend_id: $(elem).parent().attr('id'),
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log('friend added');
                    $(elem).parent().html(button);
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            })).then(function () {
                getAndPrintFriends()
            })
        }

        function deleteFriend(elem) {
            let friend_id = $(elem).parent().attr('id');
            let button = "" +
                "                <button class=\"button add-friend\" onclick=\"addFriend(this)\">\n" +
                "                    <svg width=\"32px\" height=\"32px\" viewBox=\"0 0 16 16\" class=\"bi bi-plus-circle\"\n" +
                "                         fill=\"currentColor\"\n" +
                "                         xmlns=\"http://www.w3.org/2000/svg\">\n" +
                "                        <path fill-rule=\"evenodd\"\n" +
                "                              d=\"M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z\"></path>\n" +
                "                        <path fill-rule=\"evenodd\"\n" +
                "                              d=\"M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z\"></path>\n" +
                "                        <path fill-rule=\"evenodd\"\n" +
                "                              d=\"M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"></path>\n" +
                "                    </svg>\n" +
                "                    Добавить в друзья\n" +
                "                </button>";
            console.log(friend_id);
            $.when($.ajax({
                type: "DELETE",
                url: window.location.href,
                data: {
                    friend_id: $(elem).parent().attr('id'),
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log('friend deleted');
                    $(elem).parent().html(button);
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            })).then(function () {
                getAndPrintFriends()
            })
        }
    </script>
{% endblock %}
