{% extends 'base.html' %}
{% block head %}
    <title>Сообщения</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
{% endblock %}
{% block body %}
    <div id="mainContent">
        {% if not profiles %}
            <p>У вас пока нет диалогов, добавьте друзей, чтобы они появились!</p>
        {% endif %}
        {% for profile in profiles %}
            <a id="{{ profile.friend_id }}" class="dialog"
               href="{% url 'userprofile:dialog' friend_id=profile.friend_id %}">
                {{ profile.first_name }} {{ profile.last_name }}
                {% if profile.new_messages %}
                    <svg width="32px" style="margin-bottom:-10px" height="32px" viewBox="0 0 16 16" class="bi bi-dot"
                         fill="black"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(window).on('load', function () {
            let dialogs = $('.dialog');
            if (dialogs.length === 1) {
                dialogs.css({
                    'border-radius': '25px',
                    'border-width': '2px'
                });
            }
        })
    </script>
{% endblock %}