{% extends 'base.html' %}
{% block head %}
    <title>Настройки</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
{% endblock %}
{% block body %}
    <div id="mainContent">
        <form action="{% url 'userprofile:settings' %}" role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Настройки</h2>
            {{ form.as_p }}
            <button type="submit">Готово</button>
        </form>
    </div>
{% endblock %}