{% extends 'base.html' %}
{% block head %}
    <title>{{ greenLeafUser.get_full_name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/userProfile.css' %}">
{% endblock %}
{% block body %}
    <div id="mainContent">
        <div id="profileInfoContent">
            <img id="profileImage" src="{{ userProfile.profile_picture.url }}" alt="Фото профиля">
            <h3 id="fullName">{{ greenLeafUser.last_name }} {{ greenLeafUser.first_name }}</h3>
            {% if userProfile.city %}<strong>Город: </strong> {{ userProfile.city }}<br>{% endif %}
            {% if userProfile.phone %}<strong>Телефон: </strong> {{ userProfile.phone }}<br>{% endif %}
        </div>
        {% if user.id != greenLeafUser.id %}
            <div id="buttonChanger">
                {% if not are_friends %}
                    <button class="button add-friend" onclick="addFriend()">
                        <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-plus-circle"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
                            <path fill-rule="evenodd"
                                  d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        </svg>
                        Добавить в друзья
                    </button>
                {% else %}
                    <button class="button delete-friend" onclick="deleteFriend()">
                        <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-dash-circle"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path fill-rule="evenodd"
                                  d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"></path>
                        </svg>
                        Удалить из друзей
                    </button>
                {% endif %}
            </div>
        {% else %}
            <div class="add-post-form">
                <textarea id="newPostText" userId="{{ userProfile.id }}" class="post-content-text"
                          placeholder="Текст поста"></textarea>
                <div class="post-buttons">
                    <button class="post-content-button cancel-post-creation">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M9.036 7.976a.75.75 0 00-1.06 1.06L10.939 12l-2.963 2.963a.75.75 0 101.06 1.06L12 13.06l2.963 2.964a.75.75 0 001.061-1.06L13.061 12l2.963-2.964a.75.75 0 10-1.06-1.06L12 10.939 9.036 7.976z"></path>
                            <path fill-rule="evenodd"
                                  d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path>
                        </svg>
                        Отмена
                    </button>
                    <button class="post-content-button add-new-post">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M17.28 9.28a.75.75 0 00-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l6.5-6.5z"></path>
                            <path fill-rule="evenodd"
                                  d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path>
                        </svg>
                        Отправить
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                <textarea class="post-content-text" readonly>
                    {{ post.post_text }}
                    {{ post.publication_date }}
                </textarea>
                    <div class="post-buttons-and-comments">
                        <div class="post-buttons">
                            <button class="post-content-button like left-bottom-border" value="{{ post.id }}"
                                    onclick="toggleLiked(this)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                     class="{% if user.profile in post.like.all %} liked {% endif %}"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                                {{ post.like.count }} Понравилось
                            </button>
                            <button class="post-content-button comments right-bottom-border" value="{{ post.id }}"
                                    onclick="toggleComments(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill-rule="evenodd"
                                          d="M3.25 4a.25.25 0 00-.25.25v12.5c0 .138.112.25.25.25h2.5a.75.75 0 01.75.75v3.19l3.72-3.72a.75.75 0 01.53-.22h10a.25.25 0 00.25-.25V4.25a.25.25 0 00-.25-.25H3.25zm-1.75.25c0-.966.784-1.75 1.75-1.75h17.5c.966 0 1.75.784 1.75 1.75v12.5a1.75 1.75 0 01-1.75 1.75h-9.69l-3.573 3.573A1.457 1.457 0 015 21.043V18.5H3.25a1.75 1.75 0 01-1.75-1.75V4.25z"></path>
                                </svg>
                                {{ post.comments.count }} Комментарии
                            </button>
                        </div>
                        <div class="post-comments" id="{{ post.id }}-post"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if too_many_posts %}
            <button class="more-posts button" value="1" onclick="getExtraPosts($(this))">Больше постов</button>
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}
    <script>
        function getExtraPosts(button) {
            $.ajax({
                type: "GET",
                url: window.location.href,
                data: {
                    request_type: 'get_extra_posts',
                    posts_from: button.val() + '0',
                    posts_to: (parseInt(button.val()) + 1).toString() + '0',
                },
                dataType: "json",
                success: function (data) {
                    button.val(parseInt(button.val()) + 1);
                    let content = ""
                    for (let post of data.posts) {
                        content += "" +
                            "<div class=\"post\">\n" +
                            "                <textarea class=\"post-content-text\" readonly>\n" +
                            "                    " + post.text + "\n" +
                            "                    " + post.publication_date + "\n" +
                            "                </textarea>\n" +
                            "                    <div class=\"post-buttons\">\n" +
                            "<button class=\"post-content-button like left-bottom-border\" value=\"" + post.id + "\" onclick=\"toggleLiked(this)\">" +
                            "    <svg width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" class=\"" + (post.is_liked_by_user ? 'liked' : '') + "\" " +
                            "         fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                            "             <path fill-rule=\"evenodd\"\n" +
                            "                 d=\"M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z\"></path>\n" +
                            "    </svg>\n" + post.like_count + " Понравилось\n" +
                            "</button>" +
                            "                        <button class=\"post-content-button comments right-bottom-border\" value=\"" + post.id + "\" onclick=\"toggleComments(this)\">\n" +
                            "                            <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\">\n" +
                            "                                <path fill-rule=\"evenodd\"\n" +
                            "                                      d=\"M3.25 4a.25.25 0 00-.25.25v12.5c0 .138.112.25.25.25h2.5a.75.75 0 01.75.75v3.19l3.72-3.72a.75.75 0 01.53-.22h10a.25.25 0 00.25-.25V4.25a.25.25 0 00-.25-.25H3.25zm-1.75.25c0-.966.784-1.75 1.75-1.75h17.5c.966 0 1.75.784 1.75 1.75v12.5a1.75 1.75 0 01-1.75 1.75h-9.69l-3.573 3.573A1.457 1.457 0 015 21.043V18.5H3.25a1.75 1.75 0 01-1.75-1.75V4.25z\"></path>\n" +
                            "                            </svg>\n" + post.comment_count + " Комментарии\n" +
                            "                        </button>\n" +
                            "                    </div>\n" +
                            "<div class=\"post-comments\" id=\"" + post.id + "-post\"></div>\n" +
                            "                </div>"
                    }
                    $(content).appendTo($('.posts'));
                    if (data.posts.length < 10) {
                        button.css('display', 'none');
                    }
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            })
        }
    </script>
    <script>
        $(window).on('load', function () {
            makeCorrectProfileImageSize();
            $('.post-comments').hide();
        });

        $(window).on('resize', function () {
            makeCorrectProfileImageSize();
            makeCorrectTextareaSize();
        });

        function makeCorrectProfileImageSize() {
            let width = $(window).width();
            if (width >= 850) {
                $('#profileImage').css('width', '50%');
                $('#profileInfoContent').css('flex-direction', 'row');
            } else if (width >= 560) {
                $('#profileImage').css('width', '100%');
                $('#profileInfoContent').css('flex-direction', 'column');
            } else {
                $('#profileImage').css('width', '100%');
                $('#profileInfoContent').css('flex-direction', 'column');
            }
        }
    </script>
    <script>
        function toggleLiked(elem) {
            $(elem).unbind('click');
            let svg = $(elem).children('svg');
            console.log(svg.hasClass('liked'));
            $.ajax({
                type: "PATCH",
                url: window.location.href,
                data: JSON.stringify({
                    request_type: (svg.hasClass('liked') ? 'remove_like' : 'add_like'),
                    post_id: $(elem).val(),
                }),
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data, textStatus, xhr) {
                    console.log(data.is_liked);
                    console.log(data.count_of_likes);
                    $(elem).html(
                        "    <svg width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" class=\"" + (data.is_liked ? 'liked' : '') + "\" " +
                        "         fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "             <path fill-rule=\"evenodd\"\n" +
                        "                 d=\"M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z\"></path>\n" +
                        "    </svg>\n" + data.count_of_likes + " Понравилось\n"
                    );
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            });
        }
    </script>
    <script>
        function toggleComments(elem) {
            let parent = $(elem).parent();
            parent.children('.like').toggleClass('left-bottom-border');
            parent.children('.comments').toggleClass('right-bottom-border');
            let commentsId = $(elem).val() + "-post";
            let $comments = $('#' + commentsId);
            console.log('clicked');
            $(elem).hasClass('right-bottom-border') ? $comments.hide() : $comments.show();
            if (!$(elem).hasClass('right-bottom-border')) {
                $.ajax({
                    type: "GET",
                    url: window.location.href,
                    dataType: "json",
                    data: {
                        request_type: 'get_comments',
                        post_id: $(elem).val(),
                    },
                    success: function (data) {
                        console.log(data);
                        console.log(data['comments']);
                        let content = "";
                        for (let comment of data['comments']) {
                            console.log(comment);
                            content += "<p><b>" + comment['owner_first_name'] + ' ' + comment['owner_last_name'] + ":</b> " + comment['text'] + "</p>";
                        }
                        content += "" +
                            "<div class=\"add-comment-form\">\n" +
                            "                <textarea class=\"comment-text\" data-target=\"" + $(elem).val() + "\" oninput=\"makeCorrectTextareaSize()\" \n" +
                            "                          placeholder=\"Текст сообщения\"></textarea>\n" +
                            "                    <button class=\"post-content-button add-new-comment\" data-target=\"" + $(elem).val() + "\" onclick=\"addComment(this)\">\n" +
                            "                        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\">\n" +
                            "                            <path d=\"M17.28 9.28a.75.75 0 00-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l6.5-6.5z\"></path>\n" +
                            "                            <path fill-rule=\"evenodd\"\n" +
                            "                                  d=\"M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z\"></path>\n" +
                            "                        </svg>\n" +
                            "                        Отправить\n" +
                            "                    </button>\n" +
                            "</div>";
                        $comments.html(content);
                    },
                    error: function (data, errors) {
                        console.log(data);
                        console.log(errors);
                    }
                })
            }
        }

        function addComment(elem) {
            let postId = $(elem).data('target');
            let $comments = $('#' + postId + '-post');
            let commentText = $(elem).prev().val();
            let content = "<p><b>" + "{{ user.get_full_name }}" + ":</b> " + commentText + "</p>";
            $comments.children('.add-comment-form').prepend(content);
            $.ajax({
                type: "POST",
                url: window.location.href,
                data: {
                    request_type: 'add_comment',
                    post_id: postId,
                    comment_text: commentText,
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    $(elem).prev().val('');
                    console.log(data);
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            })
        }
    </script>
    <script>
        function addFriend() {
            $.ajax({
                type: "POST",
                url: window.location.href,
                dataType: "text",
                data: {
                    request_type: 'add_friend',
                    user: {{ greenLeafUser.id }},
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log(data);
                    $('.add-friend').replaceWith("" +
                        "<button class=\"button delete-friend\" onclick=\"deleteFriend()\">\n" +
                        "                        <svg width=\"32px\" height=\"32px\" viewBox=\"0 0 16 16\" class=\"bi bi-dash-circle\"\n" +
                        "                             fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"></path>\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z\"></path>\n" +
                        "                        </svg>\n" +
                        "                        Удалить из друзей\n" +
                        "                    </button>" +
                        "");
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            })
        }

        function deleteFriend() {
            $.ajax({
                type: "POST",
                url: window.location.href,
                dataType: "text",
                data: {
                    request_type: 'delete_friend',
                    user: {{ greenLeafUser.id }},
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    console.log(data);
                    $('.delete-friend').replaceWith("" +
                        "<button class=\"button add-friend\" onclick=\"addFriend()\">\n" +
                        "                        <svg width=\"32px\" height=\"32px\" viewBox=\"0 0 16 16\" class=\"bi bi-plus-circle\"\n" +
                        "                             fill=\"currentColor\"\n" +
                        "                             xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z\"></path>\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z\"></path>\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"></path>\n" +
                        "                        </svg>\n" +
                        "                        Добавить в друзья\n" +
                        "                    </button>" +
                        "");
                },
                error: function (data, errors) {
                    console.log(data);
                    console.log(errors);
                }
            })
        }
    </script>
    <script>

        $('textarea').on('input', function () {
            makeCorrectTextareaSize()
        });
        $(window).on('load', function () {
            makeCorrectTextareaSize()
        });

        function makeCorrectTextareaSize() {
            $('textarea').each(function () {
                $(this).css('height', '0' + 'px');
                $(this).css('height', $(this).prop('scrollHeight') + 'px');
            })
        }
    </script>
    <script>
        $('.add-new-post').on('click', function () {
            let $postTextarea = $('#newPostText');
            if ($postTextarea.val() !== '') {
                $.ajax({
                    type: "POST",
                    url: window.location.href,
                    data: {
                        request_type: 'add_post',
                        post_text: $postTextarea.val(),
                    },
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (data, textStatus, xhr) {
                        if (xhr.status === 201) {
                            $postTextarea.val('');
                            let date = "{% now 'N d, Y, P' %}";
                            $('.posts').prepend("<div class=\"post\">\n" +
                                "                <textarea class=\"post-content-text\" readonly>\n" +
                                "                    " + data.text + "\n" +
                                "                    " + date + "\n" +
                                "                </textarea>\n" +
                                "                    <div class=\"post-buttons\">\n" +
                                "<button class=\"post-content-button like left-bottom-border\" value=\"" + data.id + "\" onclick=\"toggleLiked(this)\">" +
                                "    <svg width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" class=\"\" " +
                                "         fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                                "             <path fill-rule=\"evenodd\"\n" +
                                "                 d=\"M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z\"></path>\n" +
                                "    </svg>\n" + 0 + " Понравилось\n" +
                                "</button>" +
                                "                        <button class=\"post-content-button comments right-bottom-border\" value=\"" + data.id + "\" onclick=\"toggleComments(this)\">\n" +
                                "                            <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\">\n" +
                                "                                <path fill-rule=\"evenodd\"\n" +
                                "                                      d=\"M3.25 4a.25.25 0 00-.25.25v12.5c0 .138.112.25.25.25h2.5a.75.75 0 01.75.75v3.19l3.72-3.72a.75.75 0 01.53-.22h10a.25.25 0 00.25-.25V4.25a.25.25 0 00-.25-.25H3.25zm-1.75.25c0-.966.784-1.75 1.75-1.75h17.5c.966 0 1.75.784 1.75 1.75v12.5a1.75 1.75 0 01-1.75 1.75h-9.69l-3.573 3.573A1.457 1.457 0 015 21.043V18.5H3.25a1.75 1.75 0 01-1.75-1.75V4.25z\"></path>\n" +
                                "                            </svg>\n" + 0 + "Комментарии\n" +
                                "                        </button>\n" +
                                "                    </div>\n" +
                                "<div class=\"post-comments\" id=\"" + data.id + "-post\"></div>\n" +
                                "                </div>");
                        }
                    },
                    error: function (data, errors) {
                        console.log(data);
                        console.log(errors);
                    }
                });
            }
        })
        $('.cancel-post-creation').on('click', function () {
            let $postTextarea = $('#newPostText');
            $postTextarea.val('');
        })
    </script>
{% endblock %}